
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <title>Your Title</title>
</head>
<body>
 <style>
    .nav-icon {
      width: 28px;
      height: 28px;
    }
    .addquestion {
      background-color: #B92B27; 
    }
    #brandname {
      color: #B92B27;
      font-family: -apple-system; 
    }
    .nav-icon.active {
      background-color: #B92B27;
    }
    .sp-names {
      width: 81px;
      color: #63466;
      margin-left: 5px;
      font-size: 13px;
    }
    .footer {
      width: 100px;
      font-size: 13px;
    }
    #text {
      font-family: -apple-system;
    }
    .rounded-end-button {
      color: grey;
      padding: 3px 9px 3px 9px;
      text-align: center;
      font-family: -apple-system;
      text-decoration: none;
      font-size: 13px;
      cursor: pointer;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
      margin: 0;
    }
    .dislike {
      margin: 0;
      padding: 3px 9px 3px 9px;
      text-align: center;
      font-family: -apple-system;
      text-decoration: none;
      font-size: 13px;
      cursor: pointer;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
    }
   
    .side-content{
      height: 500px;
    }
   .nav{
    height:50px;
    background-color:#FFFFFF
   }
  
    .sticky-component {
      position: sticky;
      top: 50px;
      overflow-y: auto; 
    }
    .image-placeholder-input {
      background-image: url('<%= asset_path("edit.png") %>'); 
      background-size: 20px; 
      background-repeat: no-repeat; 
      background-position: 10px center;
      padding-left: 35px; 
      height: 35px; 
      width: 115px; 
      border-radius: 15px; 
    }
    .image-placeholder {
      background-image: url('<%= asset_path("edit2.png") %>'); 
      background-size: 20px; 
      background-repeat: no-repeat; 
      background-position: 10px center;
      padding-left: 35px; 
      height: 35px; 
      width: 115px; 
      border-radius: 15px;
      border-color:#2E31D5;
    }
  
    .image-placeholder::placeholder {
      color:#2E31D5;
    }
    .Questions-content{
      margin-right:20px;
      margin-left:50px;
    }
    .Questions-section{
      padding: 0px 10px 5px 10px;
      font-size:17px;
      margin: 5px 20px 10px 10px;
    }
  </style>
</head>
<body>
<% if user_signed_in? %>
<!-- nav if user already signed in-->
<div class="fixed-top">
        <ul class="nav justify-content-center shadow    ">
          <li class="nav-item">
            <a class="navbar-brand nav-link fw-bolder fs-2" id="brandname" href="#">Quora</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%= home_index_path %>"><img class="nav-icon" src='<%= asset_path("home.png") %>' onclick="changeIconSrc(this)" ></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><img class="nav-icon" src='<%= asset_path("list.png") %>' ></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%= questions_path %>"><img class="nav-icon" src='<%= asset_path("edit.png") %>' ></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><img class="nav-icon" src='<%= asset_path("group.png") %>' ></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><img class="nav-icon" src='<%= asset_path("active.png") %>' ></a>
          </li>
          <form class="d-flex" role="search">
            <input class="form-control mt-2" type="search" placeholder="Search" aria-label="Search" style="height:35px;width:250px;">
          </form>
          <form class="d-flex" role="search">
            <input class="form-control mt-2" id="text" type="search" placeholder="try Quora +" aria-label="Search" style="height:35px;width:120px; border-radius: 15px;">
          </form>
          <li class="nav-item">
            <a class="nav-link" href="#"><img class="nav-icon" src='<%= asset_path("man.png") %>' ></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><img class="nav-icon" src='<%= asset_path("internet.png") %>' ></a>
          </li>
          <%= link_to new_post_path, class: 'btn' do %>
            <form class="d-flex" role="search">
              <input class="form-control mt-0 addquestion" id="text" type="search" placeholder="Add Question" aria-label="Search" style="height:35px;width:150px; border-radius: 15px; color:yellow;">
            </form>
          <% end %>
      </ul>
</div>
<!-- nav if user already not signed in-->
<% else %>
<div class="fixed-top">
<ul class="nav d-flex justify-content-around shadow">
  <li class="nav-item   ml-5">
    <a class="navbar-brand nav-link active fw-bolder fs-2" id="brandname" href="#">Quora</a>
  </li>
  <li class="nav-item ms-5 mr-5 mt-1">
    <%= link_to 'Sign in', new_user_session_path, class: 'btn btn-danger'%>
  </li>
</ul>
</div>
<% end %>

<!-- main content start-->

<div class="container mt-5">
    <div class="row mt-5 ">
      <div class="col-12 col-md-6 shadow mt-3 border p-4 Questions-content">
            <h5><b><%= @question.content %></b></h5>
            <div class="d-flex  mt-3 mb-2">
                <input class="form-control image-placeholder-input" id="text" type="search" placeholder="Answer" aria-label="Search">
                <img class="mt-1 "src='<%= asset_path("wifi.png")%>' style="height:20px;width:20px;margin-left: 30px;margin-right: 10px;">
                <span class="mt-1 "> Follow · 5</span>
                <img class="mt-1 "src='<%= asset_path("pass_edit.png")%>' style="height:20px;width:20px;margin-left: 40px;margin-right: 10px;">
                <span class="mt-1 "> pass</span>
                <img class="mt-1 "src='<%= asset_path("exclamation.png")%>' style="height:20px;width:20px;margin-left: 30px;margin-left:130px;">
                <img class="mt-1 "src='<%= asset_path("chat-bubble.png")%>' style="height:20px;width:20px;margin-left: 30px;">
                <% if user_signed_in? %>
                <!-- Show the button or image for signed-in users -->
                <%= link_to home_index_path do %>
                  <img class="mt-1" src='<%= asset_path("downarrow.png") %>' style="height:20px;width:20px;margin-left:20px;margin-right:10px;">
                <% end %>
              <% else %>
                <!-- Redirect to the sign-in page when clicked for non-signed-in users -->
                <%= link_to new_user_session_path do %>
                  <img class="mt-1" src='<%= asset_path("downarrow.png") %>' style="height:20px;width:20px;margin-left:20px;margin-right:10px;">
                <% end %>
              <% end %>
                <span style="font-size: 20px;"><b>...</b></span>
            </div>
            <div class="p-5 d-flex align-items-center justify-content-center flex-column">
              <img src='<%= asset_path("man.png") %>' style="width:30px;height:30px;">
              <h5 class="mt-2">Mani, can you answer this question?</h5>
              <small class="mb-3">People are searching for a better answer to this question.</small>
              <input class="form-control image-placeholder" id="text" type="search" placeholder="Answer" aria-label="Search" >
            </div>
      </div>
      <div class="col-12 col-md-3 shadow mt-3 border m-0 p-0 ">
         <p class=" mb-0 border-bottom p-2 " style="font-weight:600">Related questions</p>
         <div class="Questions-section flex-column d-flex  ">
            <a href="#" class="text-decoration-none mb-2"> What is health condition and its benfits?</a>
            <a href="#" class="text-decoration-none mb-2"> What is the purpose of studying health education?</a>
            <a href="#" class="text-decoration-none mb-2"> is education part of health?</a>
            <a href="#" class="text-decoration-none mb-2"> What's your opinion on importance of education?</a>
            <a href="#" class="text-decoration-none mb-2"> What is the place and importance of health education in PHC?</a>
            <a href="#" class="text-decoration-none mb-2"> What  role does school education play in a child's health?</a>
          </div>
     </div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>





