<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Bootstrap demo</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    .nav-icon {
      width: 28px;
      height: 28px;
    }
    .addquestion {
      background-color: #B92B27; 
      cursor: pointer;
    }
    #brandname {
      color: #B92B27;
      font-family: -apple-system; 
    }
    .nav-icon.active {
      background-color: #B92B27;
    }
    .sp-names {
      width: 81px;
      color: #63466;
      margin-left: 5px;
      font-size: 13px;
    }
    .footer {
      width: 100px;
      font-size: 13px;
    }
    
    .rounded-end-button {
      color: grey;
      padding: 3px 9px 3px 9px;
      text-align: center;
      font-family: -apple-system;
      font-size: 13px;
      cursor: pointer;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
    
    }
    .dislike {
      padding: 3px 9px 3px 9px;
      text-align: center;
      font-family: -apple-system;
      font-size: 13px;
      cursor: pointer;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
    }
   
    .side-content{
      height: 500px;
    }
   .nav{
    height:50px;
    background-color:#FFFFFF
   }
   .nav-link.active {
     border-bottom: 2px solid #B92B27;
   }
  
    .sticky-component {
      position: sticky;
      top: 50px;
      overflow-y: auto; 
    }
</style>
</head>
<body>

<!-- Nav bar start -->
<div class="fixed-top">
    <ul class="nav justify-content-center shadow">
      <li class="nav-item">
        <a class="navbar-brand nav-link  fw-bolder fs-2" id="brandname" href="#">Quora</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="#"><img class="nav-icon" src='<%= asset_path("home.png") %>' onclick="changeIconSrc(this)" ></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><img class="nav-icon" src='<%= asset_path("list.png") %>' ></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%= questions_path %>"><img class="nav-icon" src='<%= asset_path("edit.png") %>' ></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><img class="nav-icon" src='<%= asset_path("group.png") %>' ></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><img class="nav-icon" src='<%= asset_path("active.png") %>' ></a>
      </li>
      <form class="d-flex" role="search">
        <input class="form-control mt-2" type="search" placeholder="Search" aria-label="Search" style="height:35px;width:250px;">
      </form>
      <form class="d-flex" role="search">
        <input class="form-control mt-2" id="text" type="search" placeholder="try Quora +" aria-label="Search" style="height:35px;width:120px; border-radius: 15px;">
      </form>
      <li>
        <div class="dropdown">
            <a class="nav-link" href="#" data-bs-toggle="dropdown" aria-expanded="false"><img class="nav-icon" src='<%= asset_path("man.png") %>' ></a>
            <ul class="dropdown-menu">
              <%= link_to 'Sign out', destroy_user_session_path, data: { turbo_method: :delete },class: "dropdown-item" %>
            </ul>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><img class="nav-icon" src='<%= asset_path("internet.png") %>' ></a>
      </li>
      <%= link_to new_post_path, class: 'btn' do %>
        <form class="d-flex" role="search">
          <input class="form-control mt-0 addquestion" id="text" type="search" placeholder="Add Question" aria-label="Search" style="height:35px;width:150px; border-radius: 15px; color:yellow;">
        </form>
      <% end %>
    </ul>
  </div>
<!-- Nav bar end -->
<!-- side content start -->
  <div class="container  mt-5">
    <div class="row ">
      <div class="col-12 col-md-3 p-3 side-content sticky-component ">
        <div>
          <div class="mb-2 d-flex flex-row justify-content-end">
            <a class="text-dark rounded-1 p-1" id="text" href="#" style="height:35px;width:124px;text-decoration:none; background-color:#f1f2f2">+ Create Space</a>
          </div>
          <div class="d-flex flex-row justify-content-end mb-0">
            <div class="mr-5 space-img"><a href="#"><img class="rounded-1" src='<%= asset_path("home1.jpeg") %>' style="height:18px;width:18px;"></a></div>
            <p class="sp-names mt-1">Books</p>
          </div>
          <div class="d-flex flex-row justify-content-end">
            <div class="mr-5 space-img"><a href="#"><img class="rounded-1" src='<%= asset_path("home2.jpeg") %>' style="height:18px;width:18px;"></a></div>
            <p class="sp-names">Technology</p>
          </div>
          <div class="d-flex flex-row justify-content-end">
            <div class="mr-5 space-img"><a href="#"><img class="rounded-1" src='<%= asset_path("home3.jpeg") %>' style="height:18px;width:18px;"></a></div>
            <p class="sp-names">Cooking</p>
          </div>
          <div class="d-flex flex-row justify-content-end">
            <div class="mr-5 space-img"><a href="#"><img class="rounded-1" src='<%= asset_path("home4.jpg") %>' style="height:18px;width:18px;"></a></div>
            <p class="sp-names">Sports</p>
          </div>
          <div class="d-flex flex-row justify-content-end">
            <div class="mr-5 space-img"><a href="#"><img class="rounded-1" src='<%= asset_path("home5.jpeg") %>' style="height:18px;width:18px;"></a></div>
            <p class="sp-names">Health</p>
          </div>
          <div class="d-flex flex-row justify-content-end">
            <div class="mr-5 space-img"><a href="#"><img class="rounded-1" src='<%= asset_path("home6.jpeg") %>' style="height:18px;width:18px;"></a></div>
            <p class="sp-names">Coding</p>
          </div>
          <div class="d-flex flex-row justify-content-end">
            <div class="mr-5 space-img"><a href="#"><img class="rounded-1" src='<%= asset_path("home7.jpeg") %>' style="height:18px;width:18px;"></a></div>
            <p class="sp-names">Ayodhya</p>
          </div>
          <div class="d-flex flex-row justify-content-end mr-3">
            <hr style="width: 100px;">
          </div>
          <div class="d-flex flex-row justify-content-end" style="height:124;width:142;">
            <div class="footer">
              <span href="#" style="text-decoration: none; color:#939598;">About .</span>
              <span href="#" style="text-decoration: none; color:#939598;">Careers.</span>
              <span href="#" style="text-decoration: none; color:#939598;">Terms Privacy.</span> 
              <span href="#" style="text-decoration: none; color:#939598;">Aceptable use.</span> 
              <span href="#" style="text-decoration: none; color:#939598;">Advertise.</span> 
              <span href="#" style="text-decoration: none; color:#939598;">Press.</span> 
              <span href="#" style="text-decoration: none; color:#939598;">Your Ad Choices.</span>
              <span href="#" style="text-decoration: none; color:#939598;">Grivance Officer.</span> 
            </div>
          </div>
        </div>     
      </div> 
    <!-- side content end -->
    <!-- main content start -->
      <div class="col-12 col-md-6">
        <div class=" shadow p-2 mt-3 border ">
           <div class="d-flex">
                  <img src='<%= asset_path("man.png") %>' style="width:30px;height: 30px;margin-right:5px;">
                  <input class="form-control" type="search" placeholder="What do you want to ask or share?" aria-label="Search" style="height:35px;width:600px; border-radius: 15px;margin-right-10px;">
                </div>
                <div class="row mt-2">
                <div class="col-4">
                  <p id="text" ><img src='<%= asset_path("post1.png") %>' style="width:20px;height: 20px;margin-left:20px;">Ask</p>
                </div>
                <div class="col-4">
                  <p id="text"><img src='<%= asset_path("edit.png") %>' style="width:20px;height: 20px;margin-right:5px;">Answer</p>
                </div>
                <div class="col-4">
                  <p id="text"><img src='<%= asset_path("post2.png") %>' style="width:20px;height: 20px;margin-right:5px;">Post</p>
                </div>
              </div>
           </div>
        <!-- loop for displaying all posts -->
          <% @posts.reverse_each do |post| %>
         <div class="mb-0 border shadow mt-2">
            <div class="p-2">      
              <div class="d-flex">
              <div class="">
                <img src='<%= asset_path("man.png") %>' style="width:36px; height:36px; margin-right:10px;">
              </div>
              <div class="ml-2">
              <div>
              <p class="m-0"><b><%= post.user.email.split('@')[0] %></b></p>
              </div>
              <div class="m-0">
                  <small>created by <%= post.user.email.split('@')[0] %> <%= formatted_date= post.created_at.strftime("%d %b") %> </small>
                <p> <b><%= post.title %></b></p>
                <p><%= post.content %></p>
              </div>
              </div>
            </div>
            </div>
            <%= image_tag post.image, style:"width:632px;margin-left:0px;" if  post.image.attached?%>
            <!-- like and dislike buttons for posts -->  
            <button class="btn-like rounded-end-button border-0 m-3">
            <%= link_to new_like_path(post_id: post.id), method: :post, class: 'btn-like m-0', style: 'text-decoration: none;' do %>
              <%= image_tag asset_path("up_arrow.png"), style: "height: 20px; width: 20px;" %>
            <% end %>
            upvote- <%= post.likes.count %>
              <%= link_to new_like_path(post_id: post.id, value: "unlike"), method: :post, class: 'btn-like m-0' do %>
              <%= image_tag asset_path("down_arrow_red.png"), style: "height: 20px; width: 20px;" %>
            <% end %>
          </button>
          <!--  comments  button-->  
                <% if post.postcomments.count == 0 %>
                  <img onclick="myfunction2(<%= post.id %>)" src='<%= asset_path("chat-bubble.png") %>' style="height:20px;width:20px; margin-right:5px; cursor: pointer;">
                <% else %>
                  <img onclick="myfunction(<%= post.id %>)" src='<%= asset_path("chat-bubble.png") %>' style="height:20px;width:20px; cursor: pointer;">
                <% end %>
                <%= post.postcomments.count %>
                <img src='<%= asset_path("sync.png") %>' style="height:20px;width:20px;margin-left:15px; margin-right:5px; cursor: pointer;">2
          </div>
                <div id="form<%= post.id %>" style="display:none;">
                  <%= form_with(model: [post, Postcomment.new], url: postcomments_path(post_id: post.id), local: true) do |form| %>
                    <div style="display: flex; align-items: center;">
                      <img src='<%= asset_path("man.png") %>' style="width:30px;height:30px;">
                      <%= form.text_area :content, class: 'form-control', style: 'height: 20px; resize: none; margin-left: 10px;', placeholder: 'Add comment' %>
                      <%= form.submit "Add Comment", class: 'btn mt-2', style: "margin-left: 10px; background-color: #2E69FF;color:#FFFFFF; border-top-right-radius: 20px; border-bottom-right-radius: 20px; border-top-left-radius: 20px; border-bottom-left-radius: 20px;" %>
                    </div>
                  <% end %>
                </div>
                <div id="commentsSection<%= post.id %>" style="display:none;">
                 <div class="mb-0 shadow p-3 mt-2">
                 <!-- loop for displaying comments -->  
                  <% post.postcomments.each do |comment| %>
                          <div class="d-flex">
                            <div class="">
                              <img src='<%= asset_path("man.png") %>' style="width:36px; height:36px; margin-right:5px;">
                            </div>
                            <div class="ml-2">
                            <div>
                            <p class="m-0"><b>Username</b></p>
                            </div>
                            <div class="m-0">
                               <p><strong></strong><%= comment.content %></p>
                            </div>
                            </div>
                          </div>
                          <% like=comment.likes.find_by(user: current_user) %>
                          <!-- like and dislike buttons for comments -->  
                          <button class="btn-like rounded-end-button border-0 m-3 ">
                          <%= link_to new_like_path(comment_id: comment.id), method: :post, class: 'btn-like m-0', style: 'text-decoration: none;' do %>
                            <%= image_tag asset_path("up_arrow.png"), style: "height: 20px; width: 20px;" %>
                          <% end %>
                          <%= comment.likes.count %>
                          <%= link_to new_like_path(comment_id: comment.id, value:"unlike"), method: :post, class: ' border-start btn-dislike m-0' do %>
                            <%= image_tag asset_path("down_arrow_red.png"), style: "height: 20px; width: 20px;" %>
                          <% end %>
                          </button>
                        <strong style="margin-left: 580px;margin-top:0px;">...</strong>
                      <hr>
                   <% end %>
                  </div>  
                </div>
           <% end %>
          <div style="height: 50px;"></div>
        </div>
      </div>
    </div>
  </div>
<script>
function myfunction(id){
  console.log(id);
  var x = document.getElementById("commentsSection"+id);
  var y = document.getElementById("form"+id);
  if(x.style.display === "none" && y.style.display === "none") {
    x.style.display ="block";
    y.style.display = "block";
  } else {
    x.style.display ="none";
    y.style.display = "none";
  }
}
function myfunction2(id) {
  console.log("Post ID:", id);
  var y = document.getElementById("form" + id);
  console.log("Form:", y);
  if ( y.style.display === "none") {
    y.style.display = "block";
  } else {
    y.style.display = "none";
  }
}
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>